:root {
    --star-size: 40px;
    --star-color: #fff;
    --star-background: #fc0;
}
[v-cloak] {
    display: none;
}

.star {
    transition: all 0.3s ease;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    background: #eee;
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;


}

.Stars:before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    position: relative;
}

body {
    background: #eee;
    padding: 0;
    margin: 0;
}
.stars {
    color: gold;
    font-size: 1.2em;
}
.star {
    cursor: pointer;
}
.filled {
    color: gold;
}
.empty {
    color: lightgray;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.emoji-picker {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    z-index: 1000;
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    right: 0;
    min-width: 200px;
    position: absolute;
}

.emoji-item {
    font-size: 24px;
    width: 30px;
    height: 30px;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.emoji-item img {
    width: 30px;
    height: 30px;
}
.comment__date,
.comment__text{
    display: block;
}

span:first-child {
    margin-bottom: 40px;
}
.comment__item {
    min-height: 60px;
    border: 1px solid red;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
    justify-content: space-between;
    gap: 60px;
}

.comment__item:not(:last-of-type) {
    margin-bottom: 15px;
}

.editable-div:empty:before {
    content: attr(data-placeholder);
}

.emoji-item:hover {
    background-color: #f0f0f0;
}

.editable-div {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}

/*AVATAR*/
/* Avatar Picker Styles */
.avatar-picker {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #888;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 2;
}

.avatar-item {
    cursor: pointer;
}

.avatar-item:hover .avatar-preview {
    border: 2px solid #000;
}

.avatar-preview {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
